:root {
  --primary: #000957;
  --secundary: #EBE645;
  --primary-ligth: #00095770;
  --secundary-ligth: #EBE64578;
  --primary-dark: #0b0e2d;
  --secundary-dark: #D2CE3E;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-ligth);
}
.title {
  padding: 24px 0;
  margin-bottom: 24px;
  font-size: 24px;
  color: var(--primary);
  text-align: center;
  background-color: var(--secundary-dark);
  border-radius: 0 0 20px 20px;
}
.text-container {
  margin: 0 auto;
  text-align: center;
  border: none;
}